.buying-process{
    padding: 20px;
}
.buying-process .enquire-process{
    display: flex;
}
.buying-process .EP{
    margin-left: 45px;
}

.buying-process i{
    font-size: 50px;
    
}
@media screen and (max-width:600px) {
    .buying-process i{
        font-size: 27px;
    }
    
}